*
  box-sizing border-box

html
  height 100%

body
  margin 0
  line-height 1.5
  font-family default_font
  color text_color
  background-color bg_color
  display flex
  height 100%
  flex-direction column
  justify-content space-between
  align-items center

  &.dark
    color text_color_dark
    background-color bg_color_dark
